<div class="container">
  <div >
    <h1 class="titre">{{title}}</h1>
  </div>
  <!-- Bouton pour ouvrir le modal -->
  <div class="add-button d-flex aic jce">
    <button (click)="openModal()">Ouvrir le Modal</button>
  </div>
    <div class="container-feature  container">
        <lib-table
            [dataTable]="dataTable"
            [headerTable]="headerTable"
            [withDelete]="withDelete"
            [withUpdate]="withUpdate"
            (dataToDelete)="deleteData($event)"
            (dataToUpdate)="dataIdDateToUpdate($event)"
          ></lib-table>
    </div>
  <!-- Composant Modal -->
  <lib-modal
    [(isVisible)]="modalVisible"
    [dataToUpdate]="dataToUpdate"
    [dataForModalAjout]="dataForModalAjout"
    (dataToAdd)="addNewData($event)"
    (updateData)="updateData($event)"
  ></lib-modal>
</div>

