/* You can add global styles to this file, and also import other style files */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100vw;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;
}

.d-flex{
    display: flex;
}

.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}

.fdc{
    flex-direction: column;
}

.jcb{
    justify-content: space-between;
}
.jca{
    justify-content: space-around;
}
.jce{
  justify-content: end;
}

.ais{
  align-items: start;
}

.fww{
  flex-wrap: wrap;
}

.row-form{
  width: 100%;
  height: 100%;
  gap: 3px;
}

.flex-shrink-1{
  flex-shrink: 1;
}
